h2 {
  margin-bottom: 1rem;
}

div {
  height: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  min-height: 100%;
  height: unset;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -3rem;
}

.push {
  height: 3rem;
}

.layout-header {
  background: $rebeccapurple;
  padding: 1.25rem;
  svg {
    fill: #eee;
  }
}

.layout-main {
  margin-top: 1.5rem;
}

.layout-footer {
  margin-top: 0.5rem;
}

.dropdown-menu {
  .dropdown-item:not(:last-child) {
    margin-bottom: 1px;
  }
}

.section-user-guide {
  margin-bottom: 3rem;

  ul {
    list-style: none;
    padding-left: 0;
    li {
      margin-bottom: 0.75rem;
    }
    p {
      padding-left: 1.5rem;
      margin-bottom: 0.5rem;
    }
  }
}

.row-skills-tags {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  .tag-span {
    margin-right: 2rem;
  }
  .form-check {
    width: auto;
  }
}

.row-skills {
  margin-bottom: 3rem;
}
