h2 {
  margin-bottom: 1rem;
}

.layout-header {
  background: rebeccapurple;
  padding: 1.25rem;
  svg {
    fill: #eee;
  }
}

.layout-main {
  margin-top: 1.5rem;

  code {
    color: #000;
  }
}

.layout-footer {
  margin-top: 1.25rem;
}
