/* CSS reset */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

$width: 250px;
$height: 250px;

.card {
  width: $width;
  height: $height;
  margin: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;

  .mask {
    width: $width;
    height: $height;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(38, 95, 142, 0.4);
    transition: all 0.5s linear;
    opacity: 0;
  }
  .title {
    font-size: 3rem;
    margin: 20px 40px 20px 40px;
    transform: scale(0);
    color: #333;
    transition: all 0.5s linear;
    opacity: 0;
  }

  .image {
    width: 100%;
    object-fit: contain;
    transform: scale(0.8);
    z-index: 1;
    transition: all 0.7s ease-in-out;
  }

  &:hover {
    .image {
      transform: scale(5);
      opacity: 0;
    }
    .title {
      opacity: 1;
      transform: scale(1);
    }
  }
}
